.menu:hover > .card-body{
  transform: scale(1.1);
  transition: transform .5s;
  z-index: 4 !important;
  margin: 0;
  border-color: gold;
}

.menu:hover > .card-body > .d-flex > .card-img-top{
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgb(219, 207, 184));
  border: none;
}

.card:hover{
  border: none;
  margin: 0;
}

.form-check-input:checked {
  background-color: gold !important;
  border-color: gold !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.no-scrollbar {
  overflow: hidden !important;
}

.text-decoration-dashed{
  text-decoration: dashed !important;
}