/* Style of PokemonList init() */

/* Style of PokemonCard */

.card{
  width: fit-content !important;
/*   box-shadow: inset 0 0 0 1000px rgba(104, 119, 119, 0.5); */
border: 0 !important;
  --bs-card-border-width: none !important;
  background-color: transparent !important;
}

.navbar{
  background-color: rgb(37, 61, 105) !important;
}
.card-body{
  padding: 0 !important;


}
 
.card-img-top {
  width: 144px !important;
  height: 144px !important;
  top: 20% !important;
}

.card-img-modal{
  width: 240px !important;
  height: 240px !important;
}


.col-2{
border: none;
}

/* .card-body{
   transition: transform ease-in-out .5s; 
  z-index: 3 !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

 .d-flex{
  transition: transform 1s;
  border: none;
  margin: 0;
} 
.menu:hover > .card-body{
    transform: scale(1.1);
    z-index: 4 !important;
    border: none;
    margin: 0;
}

.menu:hover > .card-body > .d-flex > .card-img-top{
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgb(219, 207, 184));
  border: none;
  margin: 0;
}

.card:hover{
  border: none;
  margin: 0;

}

.modal-content{
  background-image: url("/assets/img/pokeball_background.jpg") !important;
  background-size: cover;
  background-position-x: 22px;
  background-position-y: 72px;
}

